---
layout: none
---

<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="parent">
        <div class="header-container section">
            <h1 id="home-title">LEVITATOR</h1>

            <div class="bottom-container">
                <button type="button" id="down-button">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>
        </div>

        <div class="shows-container flex-col center section">
            <h2 id="shows-title">SHOWS</h2>

            {% for show in site.data.shows %}
            <p>{{ show.venue }}</p>

            <p>{{ show.date | date: "%b %d, %Y" }}</p>

            <!-- <p>{{ show.time }}</p> -->
            {% endfor %}

            <div id="page-bottom" class="check" style="height: 100px"></div>
        </div>
        <script>
            const scrollElementIntoView = (element, behavior) => {
                let scrollTop = window.pageYOffset || element.scrollTop;


                const finalOffset = element.getBoundingClientRect().top + scrollTop

                window.parent.scrollTo({
                    top: finalOffset,
                    behavior: behavior || "auto",
                });
            };

            document.querySelector("#down-button").onclick = function (e) {
                e.preventDefault();
                scrollElementIntoView(document.querySelector("#page-bottom"))
            };

            // var bt1;
            // document.addEventListener("DOMContentLoaded", load);
            // // document.addEventListenerb
            // function load() {
            //     document.querySelector("#down-button").onclick = function (e) {
            //     // e.preventDefault();
            //     let pageBottom = document.querySelector("#page-bottom")
            //     // alert('test')
            //     // window.scrollTo(0, 1300);
            //     pageBottom.scrollIntoView()
            //     // console.log(document.body.scrollHeight)
            // };
            // }

            // function clicked() {
            //     const div = document.createElement("div");
            //     div.textContent = "welcome";
            //     document.body.appendChild(div);
            // }
        </script>
    </body>
</html>

<!-- <div class="containerz"> -->

<!-- <div id = "home" class="page page-0"> -->

<!-- </div> -->

<!-- </div> -->

<!-- <script type="module" src="./script.js"></script> -->
