---
layout: none
---

<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="">

        <div class="header-container section">
            <h1 id="home-title">LEVITATOR</h1>

            <div class="bottom-container">
                <button type="button" id="down-button">
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
            </div>


        </div>





        <div class="shows-container flex-col center section">
            <h2 id="shows-title">TOUR 2025</h2>

            {% for show in site.data.shows %}
            <p style="font-weight: bolder">{{ show.venue }}</p>
            <p>
                {% if show.end %} Jul 7 - Jul 9, 2023 {% else %} {{ show.date |
                date: "%b %-d, %Y" }} {% endif %}
            </p>
            <p>{{ show.time }}</p>

            {% endfor %}


        </div>





        <div class="grid image-grid">
            {% for image in site.data.images %}
                <img
                    class="grid-item {{ image.src | split: '-' | first }}  "
                    src="https://livebnbbucket.s3.amazonaws.com/BandPhotos/{{ image.src }}"
                    alt="{{ image.src }}"
            />
            {% endfor %}
        </div>






<div class="footer-container flex-col center">
        <div class="social-container flex center">
            <a
                href="https://open.spotify.com/artist/0N6EGYcAXOAcdL40o83C2D"
                target="_blank"
            >
                <i class="fa-brands fa-spotify spotify-green icon"></i>
            </a>
            <a
                href="https://music.apple.com/us/artist/levitator/1676960350"
                target="_blank"
            >
                <img
                    class="icon"
                    src="https://livebnbbucket.s3.amazonaws.com/apple_music.png"
                />
            </a>

            <a
                href="https://www.instagram.com/levitatorband/"
                target="_blank"
            >
                <img
                    class="icon"
                    src="https://livebnbbucket.s3.amazonaws.com/Instagram_icon.png"
                />
            </a>

            <a href="https://www.facebook.com/Levitator/" target="_blank">
                <img
                    class="icon"
                    src="https://livebnbbucket.s3.amazonaws.com/facebook_icon.png"
                />
            </a>

            <a
                href="https://www.youtube.com/@Levitatorbandofficial"
                target="_blank"
            >
                <img
                    class="icon"
                    src="https://livebnbbucket.s3.amazonaws.com/youtube-icon.png"
                />
            </a>
        </div>

        <a
        class="booking-link"
            href="mailto:Blackcatmngmt@gmail.com?subject=Booking Inquiry"
            style="text-decoration: none; color: inherit"
        >
            <!-- <span style="font-weight: bold;">BLACK CAT MANAGEMENT</span> -->
            <img
                id="blackcat"
                src="https://livebnbbucket.s3.amazonaws.com/blackcat.png"
            />
        </a>

    </div>





    </body>
</html>
