html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
  }

  body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    /* z-index: inherit; */
  }

.o0 {
    opacity: 0 !important;
}

#home-title {
    z-index: 3;
    font-size: 80px;
    position: absolute;
    background: none;
    width: 532px;
    top: 15%;
    left: 50%;
    margin-left: -266px;
}

#home-break {
    display: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    font-size: 40px;
    padding: 10px;

  }

#top-button { 
    position: absolute;
    top: 0%;
    margin-left: -74px;
    left: 50%;
    transform: rotate(180deg);
    padding-bottom: 40px;
  } 

  #bottom-button {
    position: absolute;
    bottom: 0px;
    margin-left: -58px;
    left: 50%;
    padding-bottom: 50px;

  }

  #left-button {
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -75px;
    transform: rotate(90deg);
  }

  #right-button {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -68px;
    transform: rotate(-90deg);
  }

.container {
	position: relative;
	height: 100%;
    width: 100%;
	overflow: hidden;
}

.container div {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    padding: 0px;
}

#home {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    bottom: auto;
    right: auto;
    background: none;
}

.page-1 {
    background-color: #dddddd;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    bottom: auto;
    right: auto;
    padding-left: 10px;
}

#show-container, #merch-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
} 

#show-header, #merch-header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

#show-body, #merch-body {
    width: 75%;
    height: 75%;
    overflow-y: scroll;
    top: 25%;
    z-index: 3;
}

#show-title, #merch-title {
    font-size: 88px;
}
#book-header {
    position: relative;
    height: 15vh;
}
#book-title {
    font-size: 80px;
    position: absolute;
    left: 40%;
    top: 20%;
}

#book-body {
    position: relative;
    /* height: calc(90vh - 15vh); */
    width: 80%;
    margin: 10%;
    height: 400px;
    /* overflow-y: scroll !important; */
    z-index: 3;
}

.event-title {
    font-size: 64px;
    margin: 0 auto;
    white-space: nowrap;
    position: relative;
    display: block;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

.event-datetime {
    font-size: 45px;
    white-space: nowrap;
    display: block;
    width: 100%;
    margin: 0 auto; 
    height: fit-content;
    position: relative;
    display: block;
    width: fit-content;

}
/* div {
    border: 1px solid red;
} */
.event {
    display: block;
    position: relative;
}
label {
    display: block;
    font-size: 46px;
}

.book-form {
    height: 50%;
}

input {
    width: 320px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 32px;
  }
  


