html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
  }

  body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

.o0 {
    opacity: 0 !important;
}

@font-face {
    font-family: 'KC Lazy Daisy';
    src: url('css/fonts/KCLazyDaisyRegular.eot');
    src: url('css/fonts/KCLazyDaisyRegular.eot?#iefix') format('embedded-opentype'),
        url('css/fonts/KCLazyDaisyRegular.woff2') format('woff2'),
        url('css/fonts/KCLazyDaisyRegular.woff') format('woff'),
        url('css/fonts/KCLazyDaisyRegular.svg#KCLazyDaisyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#home-title {
    z-index: 3;
    font-family: 'KC Lazy Daisy';
    font-weight: normal;
    font-style: normal;
    font-size: 130px;
    position: absolute;
    background: none;
    top: 15%;
    width: fit-content;
    left: 50%;
    margin-left: -272px;
}
.product-title, .product-price {
    font-weight: lighter;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
}
.title {
    font-size: 88px;
}

  .card-title {
    margin-bottom: 0.5rem;
  }

  .event-title {
    font-size: 64px;
    /* margin: 0 auto; */
    white-space: nowrap;
    position: relative;
    display: block;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}
.item-card {
    width: 100%;
    font-size: 40px;
}

/* div {
    border: 1px solid red;
} */
.nowrap {
    white-space: nowrap ;
  }

.entry {
    /* margin: 0 auto; */
    margin-left: auto;
margin-right: auto;
}

button {
    background: none;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    font-size: 40px;
    padding: 10px;
  }

  .button_container {
      position: absolute;
      /* height: fit-content; */
      bottom: 30px;
  }

  .page_button {
    background: none;
    cursor: pointer;
    position: relative;
    font-size: 35px;
    border: none;
    bottom: 10px;
    padding: 0;
    transform: translate(0, 10px);
    font-family: Helvetica, sans-serif;
    font-weight: normal;

  }
  .simplecart-cart {
      padding: 10px 50px 100px;
      /* margin-top: 20px; */
      position: relative;
  }

  .close-button {
      padding: 20px;
      margin: 20px;
      margin-bottom: 0px;
      margin-top: 30px;
      /* margin-bottom: 30px;
      margin-top: 30px; */
      position: relative;
  }

  #paypal-button-container {
      margin-top: 50px;
      width: 100%;
  }

  #checkout-cart {
      /* padding: 50px; */
      position: absolute;
      z-index: 4;
      width: 97%;
      height: fit-content;
      top: 25%;
      margin-left: auto;
      margin-right: auto;
      /* margin-bottom: 20%; */
      background-color: darkgrey;
  }
  .bar {
    font-weight: lighter;
    font-size: 40px;
    font-family: sans-serif;
  }

  #my-form-button {
      position: relative;
      padding: 10px;
      border-radius: 10px;
      font-family: Helvetica, sans-serif;
      font-weight: lighter;
      margin: 20px;
      margin-left: 0px;
      width: 180px;
      margin-top: 30px;
  }

  .product-button-add {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin: 20px;
    margin-left: 0px;
    width: 180px;
    margin-top: 30px;
  }
  .simpleCart_shelfItem {
      font-size: 40px;
      border: 1px;
      border-radius: 10px !important;

  }
  .card-img-top {
    border-radius: 10px 10px 0px 0px !important;
  }


  /* div {
      border: 1px solid red;
  } */
  #checkout {
      font-size: 40px !important;
      /* margin: 10%; */
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
  }
  .home-button {
      left: 10%;
      margin-bottom: 28px;
  }

  .cart-button {
      right: 10%;
      margin-bottom: 28px;
  }


/* Tables
-------------------------------------------------- */

table {
    width: 100%;
    margin-bottom: 20px;
    line-height: 2;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 30px;
  }
  
  tbody {
    border-bottom: 1px solid #ddd;
  }
  
  td,
  th {
    text-align: left;
  }
  
  td {
    padding: 6px 0;
    border-top: 1px solid #ddd;
  }
  
  th {
    font-weight: 400;
  }
  
  
  
  
  
  
  /*
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media (max-width: 800px) {
  
  
    /* Force table to not be like tables */
    table,
    tbody,
    td,
    th,
    thead,
    tr {
      display: block;
    }
  
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    tr {
      margin-bottom: 8px;
      border: 1px solid #ccc;
    }
  
    tbody {
      border-bottom: 0;
    }
  
    td {
      /* Behave  like a "row" */
      position: relative;
      padding-left: 50%;
      border: 0;
      border-bottom: 1px solid #eee;
    }
  
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  
    /*
    Label the data
    */
    td:nth-of-type(1):before {
      content: 'Name';
    }
  
    td:nth-of-type(2):before {
      content: 'Price';
    }
  
    td:nth-of-type(3):before {
      content: 'Size';
    }
  
    td:nth-of-type(4):before {
      content: 'Color';
    }
  
    td:nth-of-type(5):before {
      content: '';
    }
  
    td:nth-of-type(6):before {
      content: 'Qty';
    }
  
    td:nth-of-type(7):before {
      content: '';
    }
  
    td:nth-of-type(8):before {
      content: 'SubTotal';
    }
  }

  .fourty {
      font-size: 40px;
  }
  /* .icon-flipped {

    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
} */
#top-button { 
    border: none;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    top: 0%;
    width: fit-content;
    transform: rotate(180deg);
    padding-bottom: 40px;
  } 

  #bottom-button {
    border: none;
    position: absolute;
    bottom: 0px;
    margin-left: -98px;
    left: 50%;
    padding-bottom: 50px;

  }

  #left-button {
    border: none;
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -82px;
    transform: rotate(90deg);
  }

  #right-button {
    border: none;
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -68px;
    transform: rotate(-90deg);
  }

.containerz {
	position: relative;
	height: 100%;
    width: 100%;
	overflow: hidden;
}

.page {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    padding: 0px;
}


#home {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    bottom: auto;
    right: auto;
    background: none;
}

.page-1 {
    background-color: #dddddd;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    bottom: auto;
    right: auto;
    padding-left: 10px;
}

#show-container {
    display: inline;
    justify-content: center;
    height: 100%;
    width: 100%;
} 
#merch-container {
    display: inline;
    height: 100%;
    width: 100%;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    padding-top: 20px;
}


h2 {
    font-family: 'KC Lazy Daisy';
}

#show-body  {
    position: relative;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    overflow-y: scroll;
    z-index: 3;
    -ms-overflow-style: none;
}
#show-body::-webkit-scrollbar {
    display: none;
  }
  

p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

#merch-body  {
    position: relative;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    z-index: 3;
}

#merch-body::-webkit-scrollbar {
    display: none;
  }


/* #press-body {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    top: 17%;
    z-index: 3;
} */


#press-body  {
    position: relative;
    width: 85%;
    height: 80%;
    overflow-y: scroll;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    -ms-overflow-style: none;
}
#press-body::-webkit-scrollbar {
    display: none;
  }

#coming-soon {
    font-size: 58px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.event {
    font-size: 45px;
    white-space: nowrap;
    display: block;
    width: 100%;
    margin: 0 auto; 
    height: fit-content;
    position: relative;
    width: fit-content;

}

label {
    display: block;
    font-size: 46px;
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}


#book-body {
    position: relative;
    width:75%;
    height: 65%;
    overflow-y: scroll;
    z-index: 3;
    margin-left:auto;
    margin-right:auto;
    -ms-overflow-style: none;
}

#book-body::-webkit-scrollbar {
    display: none;
  }
/* #book-header {
    position: relative;
    width:75%;
    height: 20%;
    z-index: 3;
    margin-left:auto;
    margin-right:auto;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
} */

input  {
    font-size: 32px;
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
  }
  textarea  {
    width: 100%;
    padding: 10px;
    font-size: 32px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  .time-range{
      display: flex;
      height: 20px;
  }
  
  .nav-button-text {
      font-family: Helvetica, sans-serif;
      font-weight:lighter;
  }

  #past-container {
      display: none;
  }



 #book-submit {
    border: 1px solid darkgray;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
    font-size: 40px;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;

  } 
  #frame-1, #frame-2 {
      z-index: 4;
      /* margin-top: 5px; */
      margin-bottom: 10px;
      /* margin-left: 10px; */

  }
#future_button {
    text-decoration: underline;
}
  #email-link {
      font-size: 48px;
      width: fit-content;
      color: darkblue;

  }
  .dropdown-menu, .dropdown-toggle {
    font-size: 36px !important;
  }

  .add-cart {
      font-size: 36px !important;
  }

  /* .popover-body {
      font-size: 40px !important;
      width: 400px !important;
  } */

  .tooltip {
      font-size: 32px !important;
      max-width: 100%;
    }

  .popover{
    font-size: 40px;
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}
  /* div {
      border: 1px solid red;
  } */

  /* .dropdown {
      font-size: 40px !important;
  } */
  /* .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .card-text:last-child {
    margin-bottom: 0;
  }

  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  

  .card {
    position: relative;
    display: block; 
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  .card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .card > .card-header + .list-group,
  .card > .list-group + .card-footer {
    border-top: 0;
  } */

  h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  
  /* .card-body {
      height: fit-content;
    flex: 1 1 auto;
    padding: 1rem 1rem;
  }

  
  .card-subtitle {
    margin-top: -0.25rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  .card-link + .card-link {
    margin-left: 1rem;
  }
  
  .card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-footer {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs {
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -0.5rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-group > .card {
    margin-bottom: 0.75rem;
  } */


  @media only screen and (min-width: 992px) {

    #home-title {
        top: 5%;
    }
}


   .image-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    justify-content: center;
    padding: 4px;
  }

  .box {
      flex-basis: 25%;
      width: 100%;
      padding: 10px;
      margin: 2px;
  }

  .img-gallery {
	width: 100%;
  height: 200px;
	object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  /* &:hover {
    transform: scale(1.05); */
  }