html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
  }
  body {
    height: 100%;
    overflow: hidden;
  }
  /* div {
      border: 1px solid red;
  } */
  /* .buttons { */
    /* position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px; */
    /* z-index: -1; */
  /* } */
  /* .buttons button {
    border: none;
    background: none;
    border-radius: 5px;
    cursor: pointer;
  } */
  button {
    border: none;
    background: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /* .buttons button:hover {
    background: rgba(0,0,0,0.04);
  } */
  /* .buttons #top {
    position: absolute;
    top: 0%;
    left: 50%;
  } */
  #top { 
    position: absolute;
    top: 0%;
    left: 50%;
  } 
  #bottom-hide {
    position: absolute;
    top: 0;
    left: 50%;
    background: none;
  }
  #bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  #top-hide {
    position: absolute;
    bottom: 0%;
    left: 50%;
    /* background: none; */
  }
  #left {
    position: absolute;
    top: 50%;
    left: 0px;
  }
  #right-hide {
    position: absolute;
    top: 50%;
    left: 0px;
  }
  #right {
    position: absolute;
    top: 50%;
    right: 0;
  }
  #left-hide {
    position: absolute;
    top: 50%;
    right: 0;
  }
  .top-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    bottom: auto;
    right: auto;
    background: #000000;
    transition: all 0.9s cubic-bezier(0.6, 0.05, 0.4, 1);
    /* z-index: 2; */
  }
  .top-layer.active {
    top: 0%;
    /* z-index: 2; */
  }
  .bottom-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    bottom: auto;
    right: auto;
    /* background: #48466d; */
    background: #000000;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* z-index: 2; */
  }
  .bottom-layer.active {
    top: 0%;
  }
  .left-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: -100%;
    bottom: auto;
    right: auto;
    background: #000000;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* z-index: 2; */
  }
  .left-layer.active {
    left: 0%;
  }
  .right-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: auto;
    left: 100%;
    bottom: auto;
    right: auto;
    background: #000000;
    transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* z-index: 2; */
  }
  .right-layer.active {
    left: 0%;
  }