<!-- <span class="simpleCart_quantity"></span> items - <span class="simpleCart_total" id='grand-total'></span>
<a href="javascript:;" class="simpleCart_checkout">Checkout</a> -->

<div class="fourty simplecart-area">
    <div class=" fourty simplecart-cart">
      <div class="fourty simpleCart_items"></div>
      <div class=" fourty simplecart-total">
        <p>Grand Total: </p><span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span>
      </div>
      <a class="button right" href="/checkout/">Checkout</a>
    </div>
  </div>