<div id="popover_content_wrapper"  class="fourty " style="display: none" >
    <!-- <div class=" fourty simplecart-cart">
      <div class="fourty simpleCart_items"></div> -->
      <div class=" fourty simplecart-total">
        <p>Total: </p><span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span>
      </div>
      <!-- <button id ='checkout' type="button" class="btn btn-dark w-100"  >Checkout</button>
     -->
     <a id ='view-button' href="javascript:;" name ='check-button' type="button" class="btn btn-dark w-100"  >VIEW</a>
  </div>


  