<div class ='body' id ='show-body' class='example'>
    <br>
    <br>
    <br>
    <br>

<div id = 'past-container'>


</div>


<br>
<br>
<br>
<br>
<br>
<br>

<div id = 'future-container'>

    {% for show in site.data.shows %}
<div class = "future"> <p class ="event " >{{ show.venue }}</p> <br>
            <p class="event ">{{ show.date | date: "%b %d, %Y" }}</p>  <br>
            <p class="event ">{{ show.time }}</p>  <br>
            <br>
            <br>
            <br>
            <br>
            <br>
</div>
    {% endfor %}
</div>
</div>
