<div class ='body' id ='show-body' class='example'>
    <br>
    <br>
    <br>
    <br>

<div id = 'past-container'>
{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
<!-- past shows MAKE GREY -->
{% for show in site.data.shows %}
    {% capture posttime %}{{show.date | date: '%s'}}{% endcapture %}
    {% if posttime < nowunix %}
<div class = "past"> <p class ="event " >{{ show.venue }}</p> <br>
            <p class="event ">{{ show.date | date: "%b %d, %Y" }}</p>  <br>
            <p class="event ">{{ show.time }}</p>  <br>
            <br>
            <br>
            <br>
            <br>
            <br>
</div>
            {% endif %}
    {% endfor %}
</div>


<br>
<br>
<br>
<br>
<br>
<br>

<div id = 'future-container'>

<div class = 'future'><p class ="event  ">FALL/WINTER SOON</p> <br>

        </div> 
</div>
</div>

